/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cores principais */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* branco */
  color: #b30000; /* vermelho escuro */
  line-height: 1.6;
}

/* Cabeçalho fixo */
header {
  background-color: #b30000;
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.5rem;
}

#menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Espaço para o conteúdo abaixo do header */
.content-wrapper {
  display: flex;
  margin-top: 70px;
}

/* Menu lateral */
nav
